<h1>Movie Recommendations</h1>

<div class="row">   
    <% @movies.each do |movie| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= link_to (image_tag(movie.image_uri, alt: "Movie picture", class: "movie-image")), movie_path(movie) %>
            </div>
            <div>
                <h4><%= link_to movie.title, movie_path(movie) %></h4><br>
            </div>
        </div>
    <% end %>
</div>
