<h1>Inlite</h1>
<h3>watch movies for GOOD</h3>
<h4>Things I can DO with movies</h4>
<p> A Combination of Cinema Therapy and CBT techniques, integrated in a Chatbot and developed with Therapists is innovative in the field. 
    Cinema Therapy is a technique that encourages viewers to discover their maladaptive beliefs, problematic thoughts, and feelings while discussing movie characters and stories. 
    Treatment begins with watching a movie and is followed by exercises and video tutorials with the chatbot to track and reflect movie's effect on the viewer.</p>