

.dashboard-image {
    width: 1080px;
    height: 800px;
}

.panel-body {
    text-align: center;
    margin: 0 auto; 
}

.details {
    text-align: left;
    margin: 10px;
}

.thumbnail {
    border: none;
}

.il-thumbnail-image {
    width: 270px;
    height: 180px;
}