hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
}

.col-md-4 {
    margin: 0 auto;
    color: #262626; 
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 32%;
    margin-top: 25px;
}

.field {
    padding: 10px;
    display: blocks;
    margin-bottom: 10px;
    width: 100%;
}

.actions {
    text-align: center;
}

.text {
 float: right;   
}

.label {
 color: #262626;
 font-size: 14px;
}