h1, h2, h4 {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.col-md-4 {
    margin: 0 auto;
    width: 400px;
    color: #262626; 
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 35%;
    margin-top: 25px;
    padding-top: 10px;
}

.field {
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.actions {
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    color: #262626;
}

.issues1 {
    margin: 0 auto;
    color: #262626; 
    border: none;
    position: absolute;
    top: 70%;
    left: 15%;
    margin-top: 25px;
}

.issues2 {
    margin: 0 auto;
    color: #262626; 
    border: none;
    position: absolute;
    top: 70%;
    left: 45%;
    margin-top: 25px;
}

.issue-have, .issue-not {
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}

.issue-have {
    background-color: rgba(211,100,84,0.5);
}

.issue-not {
    background-color: rgba(152,148,208,0.5);
}

.text {
 float: right;   
}






